/*****		Wide, UHD Monitor		*****/

.screen {display: block;}
.mobile{display: none;}
body{
    background: 	bisque;
}

.bannerWidth{width: 1225px;}

#banner{
    height: 695px;
    background: #2196f3;
}

#banner .container{
    height: 695px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;

}

#banner .mainTitle{
    color: white;
    font-weight: 300;
    position: absolute;
    left: 0;
    top: 30px;
    font-size: 48px;
    line-height: 48px;
}

#banner .subTitle{
    position: absolute;
    left: 0;
    top: 88px;
    font-size: 28px;
    line-height: 28px;
    color: black;
    font-weight: 300;
}

#bannerKep{
    position: absolute;
    top: 0;
    left: 0;
}





/*****		Full HD		*****/
@media only screen and (max-width:1990px){
    body{
        background: blue;
    }
}


/*****		laptop kozepes felbontas		*****/
@media only screen and (max-width:1600px){
    body{
        background: orange;
    }
}

/*****		tablet 10" fekvo		*****/
@media only screen and (max-width:1280px){
    body{
        background: yellow;
    }
    .bannerWidth{width: 920px;}
    #banner .container{height: 521px;}
    #banner{height: 521px;}
    #banner .mainTitle{top: 25px;font-size: 36px;line-height: 36px;}
    #banner .subTitle{top: 70px;font-size: 26px;line-height: 26px;}
}

/*****	tablet 10" allo, tablet 7" fekvo	*****/
@media only screen and (max-width:990px){
    body{
        background: gray;
    }
    .bannerWidth{width: 735px;}
    #banner .container{height: 417px;}
    #banner{height: 417px;}
    #banner .mainTitle{top: 15px;font-size: 30px;line-height: 30px;}
    #banner .subTitle{top: 55px;font-size: 20px;line-height: 20px;}
}

/*****	tablet 7" allo, telefon fekvo	*****/
@media only screen and (max-width:780px){
    .screen {display: none;}
    .mobile{display: block;}
    body{
        background: navy;
    }
    .bannerWidth{width: 428px;}
    #banner .container{height: 280px;}
    #banner{height: 280px;}
    #banner .mainTitle{top: 15px;font-size: 28px;line-height: 28px;}
    #banner .subTitle{top: 45px;font-size: 21px;line-height: 21px;}
    #bannerKep{top: 35px;}
}

/*****	telefon allo	*****/
@media only screen and (max-width:450px){
    .screen {display: none;}
    .mobile{display: block;}
    body{
        background: fuchsia;
    }
    .bannerWidth{width: 306px;}
    #banner .container{height: 245px;}
    #banner{height: 245px;}
    #banner .mainTitle{top: 15px;font-size: 26px;line-height: 26px;}
    #banner .subTitle{top: 75px;font-size: 20px;line-height: 20px;}
    #bannerKep{top: 70px;}
}

/*****	telefon regi allo	*****/
@media only screen and (max-width:350px){
    .screen {display: none;}
    .mobile{display: block;}
    body{
        background: cyan;
    }
    .bannerWidth{width: 270px;}
    #banner .container{height: 222px;}
    #banner{height: 222px;}
    #banner .mainTitle{top: 15px;font-size: 24px;line-height: 26px;}
    #banner .subTitle{top: 75px;font-size: 16px;line-height: 16px;}
    #bannerKep{top: 70px;}
}