#fejezetEgyedi{
    background: white;
}
#fejezetVideo{
    background: white;
}

.videoKeret{
    padding: 22px;
    margin-left: auto;
    margin-right: auto;
    width: 816px;
    height: 459px;
    background: #f3f3f3;
}

.video{
    width: 816px;
    height: 459px;
}

/*****		tablet 10" fekvo		*****/
@media only screen and (max-width:1280px){
    .videoKeret{
        padding: 16px;
        width: 480px;
        height: 270px;
    }

    .video{
        width: 480px;
        height: 270px;
    }

}

/*****	tablet 7" allo, telefon fekvo	*****/
@media only screen and (max-width:780px){

    .videoKeret{
        padding: 12px;
        width: 320px;
        height: 180px;
    }

    .video{
        width: 320px;
        height: 180px;
    }

}

/*****	telefon allo	*****/
@media only screen and (max-width:450px){
    .videoKeret{
        padding: 10px;
        width: 240px;
        height: 135px;
    }

    .video{
        width: 240px;
        height: 135px;
    }
}

/*****	telefon regi allo	*****/
@media only screen and (max-width:350px) {
    .videoKeret{
        padding: 8px;
        width: 160px;
        height: 90px;
    }

    .video{
        width: 160px;
        height: 90px;
    }

}