/*****		Wide, UHD Monitor		*****/

.screen {display: block;}
.mobile{display: none;}
	body{
		background: 	bisque;
	}

/*****		Full HD		*****/
@media only screen and (max-width:1990px){
	body{
		background: blue;
	}
}


/*****		laptop kozepes felbontas		*****/
@media only screen and (max-width:1600px){
	body{
		background: orange;
	}
}

/*****		tablet 10" fekvo		*****/
@media only screen and (max-width:1280px){
	body{
		background: yellow;
	}
}

/*****	tablet 10" allo, tablet 7" fekvo	*****/
@media only screen and (max-width:990px){
	.screen {display: none;}
	.mobile{display: block;}
	body{
		background: gray;
	}
}

/*****	tablet 7" allo, telefon fekvo	*****/
@media only screen and (max-width:780px){
	.screen {display: none;}
	.mobile{display: block;}
	body{
		background: navy;
	}
}

/*****	telefon allo	*****/
@media only screen and (max-width:450px){
	.screen {display: none;}
	.mobile{display: block;}
	body{
		background: fuchsia;
	}
}

/*****	telefon regi allo	*****/
@media only screen and (max-width:350px){
	.screen {display: none;}
	.mobile{display: block;}
	body{
		background: cyan;
	}
}