/*****      Szinek    *****/

.bgBlue{background: rgb(65,166,251);}
.bgGray{background: rgba(226,226,226,0.4);}
.bgGrayMiddleDark{background: rgb(224,224,224);}
.bgGreen{background: #04df3c;}

.fontBlue{color: rgb(65,166,251);}
.fontBlack{color: rgb(3,3,3);}
.fontWhite{color: rgb(254,254,254);}

.fontGrayLigth{color: rgb(243,243,243);}
.fontGrayMiddle{color: rgb(226,226,226);}
.fontGrayDark{color: rgb(119,119,119);}
.bold{font-weight: bold;}



/*****      BETU Meretek    *****/
/*****		Wide, UHD Monitor		*****/

body{
    font-size: 16px;
}
h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 2em;
    text-align: center;
    display: block;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    line-height: 36px;
    /*margin-bottom: 2em;*/
    text-align: center;
    display: block;
    font-weight: normal;
}
h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 29px;
}
h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    text-align: center;
    display: block;
    font-weight: normal;
}


/*****		Full HD		*****/
@media only screen and (max-width:1990px){
}

/*****		laptop kozepes felbontas		*****/
@media only screen and (max-width:1600px){
}

/*****		tablet 10" fekvo		*****/
@media only screen and (max-width:1280px){
    h1{font-size: 30px;}
    h2{font-size: 26px;line-height: 30px;}
}

/*****	tablet 10" allo, tablet 7" fekvo	*****/
@media only screen and (max-width:990px){
    h1{font-size: 26px;}
    h2{font-size: 23px;line-height: 28px;}
}

/*****	tablet 7" allo, telefon fekvo	*****/
@media only screen and (max-width:780px){
    h1{font-size: 24px;}
    h2{font-size: 21px;line-height: 26px;}
    h4{font-size: 16px;}
}

/*****	telefon allo	*****/
@media only screen and (max-width:450px){
    h1{font-size: 22px;}
    h2{font-size: 18px;line-height: 21px;}
    h4{font-size: 14px;}
}

/*****	telefon regi allo	*****/
@media only screen and (max-width:350px){
    h1{font-size: 20px;}
    h2{font-size: 16px;line-height: 19px;}
    h4{font-size: 13px;}
}