/*****		Wide, UHD Monitor		*****/

body{
    font-family: 'Open Sans', sans-serif;
}


.screen {display: block;}
.mobile{display: none;}
	body{
		background: 	bisque;
	}

	.container{
		width: 1060px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 100px;
		padding-bottom: 100px;
		font-size: 16px;
	}



.kek{color: #41a6fb;}
.duplaMeret{font-size: 200%;}

.terkozFejlec{
	height: 5em;
	clear: both;
}

/*****		Full HD		*****/
@media only screen and (max-width:1990px){
	body{
		background: blue;
	}
}


/*****		laptop kozepes felbontas		*****/
@media only screen and (max-width:1600px){
	body{
		background: orange;
	}
}

/*****		tablet 10" fekvo		*****/
@media only screen and (max-width:1280px){
	body{
		background: yellow;
	}
	.container{
		width: 560px;font-size: 14px;
		padding-top: 60px;
		padding-bottom: 60px;

	}
}

/*****	tablet 10" allo, tablet 7" fekvo	*****/
@media only screen and (max-width:990px){
	body{
		background: gray;
	}
}

/*****	tablet 7" allo, telefon fekvo	*****/
@media only screen and (max-width:780px){
	.screen {display: none;}
	.mobile{display: block;}
	body{
		background: navy;
	}
	
	.container{
		width: 420px;font-size: 13px;
		padding-top: 45px;
		padding-bottom: 45px;
	}
}

/*****	telefon allo	*****/
@media only screen and (max-width:450px){
	.screen {display: none;}
	.mobile{display: block;}
	body{
		background:green;
	}
	.container{
		width: 320px;font-size: 12px;
		padding-top: 35px;
		padding-bottom: 35px;
	}
}

/*****	telefon regi allo	*****/
@media only screen and (max-width:350px) {
	.screen {
		display: none;
	}

	.mobile {
		display: block;
	}

	body {
		background: cyan;
		font-size: 12px;
	}

	.container {
		width: 240px;
		font-size: 12px;
		padding-top: 35px;
		padding-bottom: 35px;
	}
}