/*****		Wide, UHD Monitor		*****/
#menu{
    height: 70px;
    background: white;
}

#menu .container{padding: 0;}
.menuKep{
    margin-top: 8px;
    margin-bottom: 9px;
    float: left;
    background-image: url(../image/Logo.png);
    background-size: 100% 100%;
    height: 53px;
    width: 239px;
}
.menuItems{
    width: auto;
}
#menu .menuItems{
    float: right !important;
    padding-top: 28px;
    padding-bottom: 28px;
}

.menuitem{
    width: auto;
    float: left;
    padding: 0 10px;
    font-size: 14px;
    line-height: 14px;
    color: black;
    cursor: pointer;
}
.zaszlo{height: 14px;}

.vonal{border-right: 1px solid #41a6fb;}

.mobile#menu{position: relative;}
.mobile .vonal{border-right: none;}
.mobile .menuitem{
    width: 100%;
    font-size: 16px;
    line-height: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}
.mobile .menuitem:hover{background: #dfdfdf;}
.mobile .menuItems{
    width: 100%;
    background: white;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 41px;
    display: none;
}

.mobile .menuitem{
    font-size: 16px;
    line-height: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}
.mobile .menuItems{top: 41px;}
.mobile .zaszlo{height: 16px;}


/*****      lablec      *****/

#fejezetKapcsolat{background: white;}
#fejezetKapcsolat .container{padding: 0;}

#fejezetKapcsolat .menuItems{
    width: auto;
    display: inline-block;
    padding-top: 40px;
    padding-bottom: 40px;
}

#footer{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#kozosseg{
    width: 155px;
    float: right;
}
#facebook{
    width: 15px;
    float: right;
}
#mail{
    width: 33px;
    margin-right: 24px;
    float: right;
}

#kapcsInfo{
    width: 255px;
    margin-left: 30px;
    float: left;
    padding-top: 1em;
    color: black;
}

#kapcsInfo .title{
    color: #4272c3;
    font-size: 16px;
}

#aquLogo{
    width: 145px;
    padding-top: 1em;
    display: block;
    float: left;
}


/*****		Full HD		*****/
@media only screen and (max-width:1990px){
}


/*****		laptop kozepes felbontas		*****/
@media only screen and (max-width:1600px){
}

/*****		tablet 10" fekvo		*****/
@media only screen and (max-width:1280px){
    #menu .container{width: 920px;}
    #fejezetKapcsolat .container{width: 920px;}
    #menu .menuItems{padding-top: 18px;padding-bottom: 18px;}
    #menu{height: 50px;}
    .menuKep{
        margin-top: 5px;margin-bottom: 5px;
        height: 40px;width: 180px;
    }
    .menuitem{padding: 0px 5px;}
}

/*****	tablet 10" allo, tablet 7" fekvo	*****/
@media only screen and (max-width:990px){
    .screen {display: none;}
    .mobile{display: block;}
    #menu .container{width: 735px;}
    #fejezetKapcsolat .container{width: 735px;}
    #menu{height: 41px;}
    .menuKep{
        margin-top: 5px;margin-bottom: 4px;
        height: 31px;width: 140px;
    }
    .menuitem{padding: 0 5px;font-size: 12px;line-height: 12px;}
    .zaszlo{height: 12px;}
    #menu .menuItems{padding-top: 15px;padding-bottom: 14px;}
    #fejezetKapcsolat .menuItems{padding-top: 30px;padding-bottom: 30px;}


    #footer{width: 580px;}
    #kozosseg{width: 140px;}
    #facebook{width: 13px;}
    #mail{width: 18px;margin-right: 20px;}
    #kapcsInfo{width: 210px;margin-left: 26px;}
    #kapcsInfo .title{font-size: 15px;}
    #aquLogo{width: 120px;}

    .menuKep{margin-left: 10px;float:left; display: block;}
    #menuIkon{
        margin-right: 10px;float:right; display: block;margin-top: 13px;
        cursor: pointer;
    }

}

/*****	tablet 7" allo, telefon fekvo	*****/
@media only screen and (max-width:780px){
    .screen {display: none;}
    .mobile{display: block;}
    #fejezetKapcsolat .container{width: 420px;}
    #footer{width: 420px;}
    #kozosseg{width: 100px;}
    #facebook{width: 11px;}
    #mail{width: 15px;margin-right: 14px;}
    #kapcsInfo{width: 190px;margin-left: 18px;}
    #kapcsInfo .title{font-size: 14px;}
    #aquLogo{width: 85px;}

    .menuKep{margin-left: 10px;float:left; display: block;}

    #menuIkon{
        margin-right: 10px;float:right; display: block;margin-top: 13px;
        cursor: pointer;
    }
}

/*****	telefon allo	*****/
@media only screen and (max-width:450px){
    #fejezetKapcsolat .container{width: 220px;}
    #footer{width: 220px;}
    #kozosseg{float: none !important;margin-left: auto; margin-right: auto;}
    #facebook{width: 11px;}
    #mail{width: 15px;margin-right: 14px;}
    #kapcsInfo{float: none !important;margin-left: auto; margin-right: auto;margin-bottom: 20px;}
    #aquLogo{float: none !important;margin-left: auto; margin-right: auto;margin-bottom: 20px;}

    .mobile .menuitem{
        font-size: 14px;
        line-height: 14px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 15px;
    }
    .mobile .zaszlo{height: 14px;}

}

/*****	telefon regi allo	*****/
@media only screen and (max-width:350px){
    .mobile .menuitem{
        font-size: 12px;
        line-height: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
    }
    .mobile .zaszlo{height: 12px;}
}