/*body{
    overflow: hidden;
}*/

.reszletFedo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    background: rgba(255,255,255,0.85);
    z-index: 100;
    display: none;
    overflow: auto;
}

.detailContainer{
    width: 1200px;
    height: 665px;
    background-size: 100% 100%;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.detailWrap{
    width: 600px;
    height: 565px;
    position: absolute;
    top: 50px;
    left: 300px;
    overflow: hidden;
}
.detailItems {
    position: absolute;
    top: 0;
    left: 0;
    height: 565px;
    width: 10px;
}

.detailItem{
    width: 600px;
    height: 565px;
    background-image: url(../image/slides/detail.png);
    background-size: 100% 100%;
    /*display: inline-block;*/
    float: left;
}

.detailItem .picture{
    width: 520px;
    height: 295px;
    padding: 40px;
}
.detailItem .description{
    width: 520px;
    height: 150px;
    padding: 0 40px 40px 40px;
    font-size: 14px;
}

.buttonContainer{
    position: absolute;
    top: 280px;
    left: 120px;
    width: 960px;
    height: 345px;
}
.detailButton{
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    width: 73px;
    height: 73px;
}

.detailButton.left{
    left: 0px;
    background-image: url(../image/slides/bal_gomb.png);
    display: none;
}
.detailButton.left:hover{
    background-image: url(../image/slides/bal_gomb_hover.png);
}
.detailButton.right{
    right: 0px;
    background-image: url(../image/slides/jobb_gomb.png);
}
.detailButton.right:hover{
    background-image: url(../image/slides/jobb_gomb_hover.png);
}

.detailButtonBack{
    width: 200px;
    line-height: 16px;
    padding: 20px 0px;
    border-radius: 30px;
    color: white;
    background: #3a9cd8;
    text-align: center;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    right: -80px;
}

/*****		Full HD		*****/
@media only screen and (max-width:1990px){
}


/*****		laptop kozepes felbontas		*****/
@media only screen and (max-width:1600px){
}

/*****		tablet 10" fekvo		*****/
@media only screen and (max-width:1280px){
    .detailContainer{width: 960px;height: 532px;}
    .detailWrap{
        width: 480px;
        height: 452px;
        top: 40px;
        left: 240px;
    }

    .detailItem{
        width: 480px;
        height: 452px;
    }

    .detailItem .picture{
        width: 416px;
        height: 236px;
        padding: 32px 32px 16px 32px;
    }
    .detailItem .description{
        width: 416px;
        height: 120px;
        padding: 0 32px 32px 32px;
        font-size: 12px;
    }

    .buttonContainer{
        position: absolute;
        top: 224px;
        left: 96px;
        width: 764px;
        height: 276px;
    }

    .detailButton{
        width: 56px;
        height: 56px;
    }

    .detailButtonBack{
        width: 160px;
        line-height: 14px;
        padding: 16px 0px;
        border-radius: 24px;
        bottom: 24px;
        right: -60px;
    }

}

/*****	tablet 10" allo, tablet 7" fekvo	*****/
@media only screen and (max-width:990px){
    .reszletFedo{
        background: rgba(200,200,200,0.85);
    }

    .detailContainer{
        width: 600px;
        height: auto;
        background-image: none;
        background: rgba(255,255,255,0.8);
        top: 30px;
        right: 0;
        bottom: auto;
        left: 0;

    }

    .detailWrap{
        width: 600px;
        height: 500px;
        top: 70px;
        left: 0px;
    }

    .detailItem{
        width: 600px;
        height: 500px;
        background-image: none;
        background: rgb(255,255,255);
    }

    .detailItem .picture{
        width: 520px;
        height: 295px;
        padding: 40px;
    }
    .detailItem .description{
        width: 520px;
        height: 150px;
        padding: 0 40px 40px 40px;
        font-size: 14px;
    }

    .buttonContainer{
        position: absolute;
        top: 0;
        left: 0;
        width: 600px;
        height: 56px;
    }

    .detailButton{
        width: 56px;
        height: 56px;
    }

    .detailButtonBack{
        width: 160px;
        line-height: 14px;
        padding: 16px 0px;
        border-radius: 24px;
        bottom: 5px;
        right: 220px;
    }

}

/*****	tablet 7" allo, telefon fekvo	*****/
@media only screen and (max-width:780px){

    .detailContainer{
        width: 440px;
        height: auto;
        background: rgba(255,255,255,0.8) !important;
        top: 30px;
        right: 0;
        bottom: auto;
        left: 0;
    }

    .detailWrap{
        width: 440px;
        height: 600px;
        top: 70px;
        left: 0px;
    }

    .detailItem{
        width: 440px;
        height: 500px;
    }

    .detailItem .picture{
        width: 380px;
        height: 215px;
        padding: 30px;
    }
    .detailItem .description{
        width: 380px;
        height: 150px;
        padding: 0 30px 30px 30px;
        font-size: 12px;
    }

    .buttonContainer{
        position: absolute;
        top: 0;
        left: 0;
        width: 440px;
        height: 43px;
    }

    .detailButton{
        width: 43px;
        height: 43px;
    }

    .detailButtonBack{
        width: 120px;
        line-height: 12px;
        padding: 12px 0px;
        border-radius: 20px;
        bottom: 3px;
        right: 150px;
    }


}

/*****	telefon allo	*****/
@media only screen and (max-width:450px){
    .detailContainer{
        width: 320px;
        height: auto;
        background: rgba(255,255,255,0.8) !important;
        top: 20px;
        right: 0;
        bottom: auto;
        left: 0;
    }

    .detailWrap{
        width: 320px;
        height: 200px;
        top: 60px;
        left: 0px;
    }

    .detailItem{
        width: 320px;
        height: 200px;
    }

    .detailItem .picture{
        display: none;
     }
    .detailItem .description{
        width: 290px;
        height: 150px;
        padding: 15px 15px 15px 15px;
        font-size: 10px;
    }

    .buttonContainer{
        position: absolute;
        top: 0;
        left: 0;
        width: 320px;
        height: 30px;
    }

    .detailButton{
        width: 30px;
        height: 30px;
    }

    .detailButtonBack{
        width: 80px;
        line-height: 10px;
        padding: 10px 0px;
        border-radius: 18px;
        bottom: 0px;
        right: 120px;
    }

}

/*****	telefon regi allo	*****/
@media only screen and (max-width:350px){
    .detailContainer{
        width: 260px;
        height: auto;
        background: rgba(255,255,255,0.8) !important;
        top: 10px;
        right: 0;
        bottom: auto;
        left: 0;
    }

    .detailWrap{
        width: 260px;
        height: 200px;
        top: 50px;
        left: 0px;
    }

    .detailItem{
        width: 260px;
        height: 200px;
    }

    .detailItem .picture{
        display: none;
    }
    .detailItem .description{
        width: 230px;
        height: 150px;
        padding: 15px 15px 15px 15px;
        font-size: 10px;
    }

    .buttonContainer{
        width: 260px;
        height: 30px;
    }

    .detailButtonBack{
        width: 60px;
        right: 100px;
    }
}