/*****		Wide, UHD Monitor		*****/

.stat_ref{
    box-sizing: border-box;
    background: rgba(255,255,255,0.8);
    border: 1px solid rgba(65,166,251,0.6);
    padding: 3em 1em;
    margin-left: auto;
    margin-right: auto;
}

#referencia{
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
}

#referencia .title{
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 4.2em;
}

#referencia .iro{
    display: block;
    text-align: right;
    font-style: italic;
}

#referencia .separator{
    width: 30%;
    height: 3.8em;
    margin-bottom: 3.8em;
    border-bottom: 1px solid rgba(0,0,0,0.28);
    margin-left: auto;
    margin-right: auto;
}

#fejezetStatRef{
    background: #f3f3f3;
}

#BUDStat {height: 53em;margin-bottom: 3.5em;}
#BUD_grafikon{
    width: 50%;
    height: 35em;
    float: right;
    position: relative;
    text-align: center;
}
#grafikonBUD{
    width: 71%;
}
#grafikonBeosztasBUD{
    width: 71%;
    margin-left: auto;
    margin-right: auto;
}
.beosztasBUD{width: 18.5%; text-align: right;float: left;}
#grafikonMagyarazBUD{width: 50%;margin-left: auto; margin-right: auto;}
.magyarazoKocka{
    width: 1.1em;
    height:1.1em;
    margin-right: 1.5em;
    display: inline-block;
}
#BUD_szoveg{
    box-sizing: border-box;
    width: 50%;
    height: 35em;
    padding: 4% 0 4% 4%;
    float: left;
    position: relative;
}
#BUD_szoveg .pont{
    height: 1em;
    margin-right: 5px;
    margin-top: 0.1em;
}
#BUD_szoveg td{
    vertical-align: top;
    line-height: 1.2em;
    height: 3em;
}

#BUD_szoveg .megjegy{
    position: absolute;
    bottom: 4%;
}

#GroupamaTabla{
    width: 68%;
    height: 29.6em;
    margin-left: 25%;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
}
.GroupamaNew{
    height: 1em;
    padding:0.3em 0px;
    background: #04df3c;
    line-height: 1em;
}
.GroupamaErtek {
    font-weight: bold;
    float: right;
    margin-right: 1em;
}

.GroupamaCimke {
    float: left;
    text-align: right;
    width: 15em;
    margin-left: -16em;
    margin-right: 1em;
    height: 1em;
    line-height: 1em;
}

.GroupamaOld {
    height: 0.4em;
}
.GroupamaKoz {
    height: 1.6em;
}

.GroupamaSegedvonal{
    position: absolute;
    top: 0;
    box-sizing: border-box;
    height: 30em;
    width: 10%;
    border-right: 1px solid rgba(210,210,210,0.8);
}
.GroupamaKoord{
    position: absolute;
    bottom: -2em;
    width: 10%;
    text-align: center;
}

#grafikonMagyarazGroupama{width: 50%;margin-left: auto; margin-right: auto;}
.kockaElso{float: left;}
.kockaMasodik{float: right;}


@media only screen and (max-width:1280px){
    #BUDStat {height: auto;}

    #BUD_szoveg{
        width: 100%;
        float: none !important;
        padding: 4%;
        height: auto;
        margin-bottom: 20px;
    }

    #BUD_szoveg .megjegy{
        position: relative;
        padding-top: 1em;
    }

    #BUD_grafikon{
        width: 100%;
        height: 35em;
        float: none !important;
        position: relative;
        text-align: center;
    }
    #GroupamaTabla {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .GroupamaCimke {
        float: left;
        text-align: left;
        width: 65%;
        margin-left: .5em;
        margin-right: 0em;
        overflow: hidden;
    }
    .GroupamaErtek {
        margin-right: .5em;
    }
    #grafikonMagyarazGroupama{width: 80%;}

}

@media only screen and (max-width:990px) {
    #BUD_szoveg{
        width: 100%;
        float: none !important;
        padding: 4%;
    }
}

@media only screen and (max-width:780px) {
    #grafikonMagyarazBUD{width: 65%;}
    .kockaMasodik{float: left;}
}

@media only screen and (max-width:450px) {
    #grafikonMagyarazGroupama{width: 90%;}
    #grafikonMagyarazBUD{width: 80%;}
    .GroupamaCimke {
        width: 90%;
    }
    .GroupamaErtek {
        margin-right: -3em;
    }
    .GroupamaKoord{display: none;}
}

