/*****		Wide, UHD Monitor		*****/

.screen {display: block;}
.mobile{display: none;}
	body{
		background: 	bisque;
	}

	
#fejezetTermek{
	background: #2196f3;
	color: white;
}



.termek{
	width: 523px;
	height: 924px;
    box-sizing: border-box;
	padding: 26px 32px 36px 32px;
	background-image: url(../image/termekHatter.png);
	background-size:100% 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 14px;
	color: black;
}

.termek.paratlan{float: left;}
.termek.paros{float: right;}

.termek .kep{
	width: 338px;
	height: 339px;
	background-size: 100% 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

#Probarepules .kep{background-image: url(../image/termekRepules.png);}
#DISC .kep{	background-image: url(../image/termekDISC.png);	}
#Orient .kep{	background-image: url(../image/termekOrient.png);	}
#Vela .kep{	background-image: url(../image/termekVela.png);	}
#Dialog .kep{	background-image: url(../image/termekDialog.png);	}
#Teleki .kep{	background-image: url(../image/termekTeleki.png);	}
#DISC_Dialog .kep{	background-image: url(../image/termekDISCDialog.png);	}

.termek .content{
	height: 324px;
	padding-top: 25px;
	padding-bottom: 20px;
}

.termek .gombErdekel{
	width: 225px;
	line-height: 16px;
	padding: 30px 0px;
	color: white;
	background: #3a9cd8;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}
	
	
	
/*****		Full HD		*****/
@media only screen and (max-width:1990px){
	body{
		background: blue;
	}
}


/*****		laptop kozepes felbontas		*****/
@media only screen and (max-width:1600px){
	body{
		background: orange;
	}
}

/*****		tablet 10" fekvo		*****/
@media only screen and (max-width:1280px){
	body{
		background: yellow;
	}
	.termek.paratlan{float: none !important;}
	.termek.paros{float: none !important;}
}

/*****	tablet 10" allo, tablet 7" fekvo	*****/
@media only screen and (max-width:990px){
	.screen {display: none;}
	.mobile{display: block;}
	body{
		background: gray;
	}
	
}

/*****	tablet 7" allo, telefon fekvo	*****/
@media only screen and (max-width:780px){
	.screen {display: none;}
	.mobile{display: block;}
	body{
		background: navy;
	}
	
	.termek{width: 366px;height: 647px;}
	.termek .kep{width: 202px;height: 203px;margin-bottom: 10px;}
	.termek .content{height: 272px;padding-top: 12px;padding-bottom: 10px;}
	.termek .gombErdekel{width: 150px;line-height: 13px;padding: 15px 0px;}


}

/*****	telefon allo	*****/
@media only screen and (max-width:450px){
	.screen {display: none;}
	.mobile{display: block;}
	body{
		background: green;
	}
	
	.termek{width: 313px;height: 583px;}
	.termek .kep{width: 169px;height: 169px;margin-bottom: 7px;}
	.termek .content{height: 269px;padding-top: 10px;padding-bottom: 8px;}
	.termek .gombErdekel{width: 130px;line-height: 12px;padding: 10px 0px;}
}

/*****	telefon regi allo	*****/
@media only screen and (max-width:350px){
	.screen {display: none;}
	.mobile{display: block;}
	body{
		background: cyan;
	}
	
	.termek{width: 210px;height: 571px;	padding: 10px 16px 18px 16px;}
	.termek .kep{width: 110px;height: 110px;margin-bottom: 7px;}
	.termek .content{height: 312px;padding-top: 8px;padding-bottom: 5px;}
	.termek .gombErdekel{width: 90px;line-height: 11px;padding: 5px 0px;}
	
		
}