/*****		Wide, UHD Monitor		*****/

.screen {display: block;}
.mobile{display: none;}
	body{
		background: 	bisque;
	}
#fejezetVizio .mainTitle{color: #767779;}	
#fejezetVizio{background: white;}

#mukodesSzoveg{margin-top: 85px;}
#generacioSzoveg{margin-top: 95px;}
#seriousSzoveg{margin-top: 65px;}
#vizioSzoveg {margin-top: 60px;}
#egyediMegoldas {margin-top: 60px;}

.vizioTerkoz{height: 40px;}

.listStyle {
    color: #41a6fb;
}
.listStyle p {
    color: black;
	margin-bottom: 20px;
}	

.kepSzelesseg{width: 389px;}

.vizioKep{
    box-sizing: border-box;
	width: 420px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
    margin-top: 60px;
}

.vizioSzoveg{
    box-sizing: border-box;
	width: 580px;
	padding-left: 20px;
	margin-left: auto;
	margin-right: auto;
}

.vizioBalra{float: left;}
.vizioJobbra{float: right;}


#mukodesTitle{margin-bottom: 80px; padding-top: 5px;}
	
/*****		Full HD		*****/
@media only screen and (max-width:1990px){
	body{
		background: blue;
	}
}


/*****		laptop kozepes felbontas		*****/
@media only screen and (max-width:1600px){
	body{
		background: orange;
	}
}

/*****		tablet 10" fekvo		*****/
@media only screen and (max-width:1280px){
	body{
		background: yellow;
	}
    .vizioKep{margin-top: 45px;}
	.vizioTerkoz{height: 30px;}
	.vizioBalra{float: none !important;}
	.vizioJobbra{float: none !important;}
	#mukodesTitle{margin-bottom: 40px !important;}

	.vizioSzoveg{width: 520px;padding-left: 15px;}
	.listStyle p {margin-bottom: 15px;}	

}

/*****	tablet 10" allo, tablet 7" fekvo	*****/
@media only screen and (max-width:990px){
	.screen {display: none;}
	.mobile{display: block;}
	body{
		background: gray;
	}
}

/*****	tablet 7" allo, telefon fekvo	*****/
@media only screen and (max-width:780px){
	.screen {display: none;}
	.mobile{display: block;}
	body{
		background: navy;
	}
    .vizioKep{margin-top: 30px;}
	.vizioTerkoz{height: 20px;}
	#mukodesTitle{margin-bottom: 30px !important;}

	#mukodesSzoveg{margin-top: 15px;}
	#generacioSzoveg{margin-top: 15px;}
	#seriousSzoveg{margin-top: 5px;}
	#vizioSzoveg {margin-top: 5px;}


	.vizioSzoveg{width: 380px;padding-left: 10px;}
	.vizioKep{width: 340px;}
	.kepSzelesseg{width: 340px;}
	.listStyle p {margin-bottom: 12px;}	
}

/*****	telefon allo	*****/
@media only screen and (max-width:450px){
	.screen {display: none;}
	.mobile{display: block;}
	body{
		background: fuchsia;
	}
    .vizioKep{margin-top: 20px;}
	.vizioTerkoz{height: 20px;}
	#mukodesTitle{margin-bottom: 20px !important;}
	
	#mukodesSzoveg{margin-top: 9px;}
	#generacioSzoveg{margin-top: 10px;}
	#seriousSzoveg{margin-top: 6px;}
	#vizioSzoveg {margin-top: 5px;}
	
	
	.vizioSzoveg{width: 280px;padding-left: 7px;}
	.vizioKep{width: 260px;}
	.kepSzelesseg{width: 260px;}
	.listStyle p {margin-bottom: 10px;}	
}

/*****	telefon regi allo	*****/
@media only screen and (max-width:350px){
	.screen {display: none;}
	.mobile{display: block;}
	body{
		background: cyan;
	}
	.vizioSzoveg{width: 200px;padding-left: 4px;}
	.vizioKep{width: 180px;}
	.kepSzelesseg{width: 180px;}
	.listStyle p {margin-bottom: 8px;}	
}