/******************************************************************
 *
 *			ALAPOK
 *
 ******************************************************************/

*{
	margin: 0px;
	padding: 0px;
}


@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('font/open-sans-v13-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans'), local('OpenSans'),
    url('font/open-sans-v13-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/open-sans-v13-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('font/open-sans-v13-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
    url('font/open-sans-v13-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('font/open-sans-v13-latin-ext_latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-300italic - latin-ext_latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: url('font/open-sans-v13-latin-ext_latin-300italic.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'),
    url('font/open-sans-v13-latin-ext_latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/open-sans-v13-latin-ext_latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('font/open-sans-v13-latin-ext_latin-300italic.woff') format('woff'), /* Modern Browsers */
    url('font/open-sans-v13-latin-ext_latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('font/open-sans-v13-latin-ext_latin-300italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - latin-ext_latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('font/open-sans-v13-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('font/open-sans-v13-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/open-sans-v13-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('font/open-sans-v13-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
    url('font/open-sans-v13-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('font/open-sans-v13-latin-ext_latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700italic - latin-ext_latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: url('font/open-sans-v13-latin-ext_latin-700italic.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
    url('font/open-sans-v13-latin-ext_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/open-sans-v13-latin-ext_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('font/open-sans-v13-latin-ext_latin-700italic.woff') format('woff'), /* Modern Browsers */
    url('font/open-sans-v13-latin-ext_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('font/open-sans-v13-latin-ext_latin-700italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}


/******************************************************************
 *
 *			HASABOK
 *
 ******************************************************************/

.kethasab40_elvalaszt{
  -webkit-column-rule: 1px solid;
  -moz-column-rule: 1px solid;
  column-rule: 1px solid;
	-webkit-columns: 2;
	-moz-columns:2;
	columns: 2;
	-webkit-column-gap: 40px;
	-moz-column-gap: 40px;
	column-gap: 40px;
}

.kethasab20_elvalaszt{
  -webkit-column-rule: 1px solid;
  -moz-column-rule: 1px solid;
  column-rule: 1px solid;
	-webkit-columns: 2;
	-moz-columns:2;
	columns: 2;
	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	column-gap: 20px;
}

.kethasab40{
	-webkit-columns: 2;
	-moz-columns:2;
	columns: 2;
	-webkit-column-gap: 40px;
	-moz-column-gap: 40px;
	column-gap: 40px;
}

.kethasab30{
	-webkit-columns: 2;
	-moz-columns:2;
	columns: 2;
	-webkit-column-gap: 30px;
	-moz-column-gap: 30px;
	column-gap: 30px;
}

.kethasab20{
	-webkit-columns: 2;
	-moz-columns:2;
	columns: 2;
	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	column-gap: 20px;
}

.kethasab10{
	-webkit-columns: 2;
	-moz-columns:2;
	columns: 2;
	-webkit-column-gap: 10px;
	-moz-column-gap: 10px;
	column-gap: 10px;
}

.haromhasab20{
	-webkit-columns: 3;
	-moz-columns:3;
	columns: 3;
	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	column-gap: 20px;
}

.haromhasab10{
	-webkit-columns: 3;
	-moz-columns:3;
	columns: 3;
	-webkit-column-gap: 10px;
	-moz-column-gap: 10px;
	column-gap: 10px;
}


/******************************************************************
 *
 *			IGAZITAS
 *
 ******************************************************************/

.text_center{
	text-align: center;
}

.text_justify{
	text-align: justify;
}

.text_right{
	text-align: right;
}

.block_center{
	margin-left: auto;
	margin-right: auto;
}

.item_center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.block_left{
	float:left;
}

.block_right{
	float: right;
}

.totalCenter{
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.verticalCenter{
	display: table-cell;
	vertical-align: middle;
}

ul{
	margin-left: 25px;
}
/******************************************************************
 *
 *			BLOKK
 *
 ******************************************************************/

.padding5{
	padding:5px;
	border-radius: 5px;
}
.padding15{
	padding:15px;
	border-radius: 15px;
}
.padding20{
	padding:20px;
	border-radius: 20px;
}

.clear{
	clear: both;
}

.forgat90{
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(-0deg);
	transform: rotate(90deg);
	-ms-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
 }

.clickable:not(.disabled){
	cursor: pointer;
}

.absolute{
	position: absolute;
}

.disabled{
	opacity: 0.5;
	filter: alpha(opacity=50);
	cursor: default !important;
}
.disabledLight{
	opacity: 0.8;
	filter: alpha(opacity=80);
	cursor: default !important;
}

.hidden{
	display: none;
}

.error_input{
	border: 2px solid #a94442;
}
.tukroz{
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}